{% extends "base.html" %}
{% from "macros/alerts.html" import flash_alerts %}
{% from "macros/auth.html" import admin_nav %}
{% from "macros/form.html" import render_field %}

{% block navbar %}
<nav class="s-header__nav">
    <ul>
        {{ admin_nav(current_user) }}
    </ul>
</nav>
{% endblock %}

{% block content %}
<section>
    <br>
    <br>
    <br>
    <div class="row section-header section-header--dark">
        <div class="column lg-12">
            <h3 class="text-pretitle">Get In Touch</h3>
            <h1 class="text-display-title">
                Contact Me
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="column lg-12 tab-12">

            <form method="post" novalidate data-live-validation>
                {{ form.csrf_token }}

                {{ render_field(form.name, class="u-fullwidth", placeholder="Kieran Christien") }}

                {{ render_field(form.email, class="u-fullwidth", placeholder="kieranchristien@gmail.com") }}

                {{ render_field(form.reason, class="u-fullwidth", div_class="ss-custom-select") }}

                {{ render_field(form.message, class="u-fullwidth", placeholder="Your message") }}

                {{ render_field(form.send_copy, class='u-add-bottom') }}

                {{ flash_alerts() }}

                {{ form.submit(class="btn--primary u-fullwidth") }}
            </form>

        </div>
    </div>
</section>
{% endblock %}